In [1]:
import ttg

Functions to be applied. You can create your own functions as shown [here](https://pandas.pydata.org/pandas-docs/stable/user_guide/style.html).

In [2]:
def color_false_red(val):
    """Color red False (0) and green True (1) values"""
    color = 'red' if (val == False) else 'green'
    return 'color: %s' % color


def df_style(logic, hl_rows=[], hl_cols=[]):
    """Applies style to logical expression (logic) pandas truth table. 
    Text: center. Table: no index column. Highlight yellow rows and columns in 
    lists (hl_rows and hl_cols). At the end applies color_false_red function"""
    d = logic.as_pandas.style.set_table_styles([{
        'selector':
        'th',
        'props': [('font-size', '12pt')]
    }]).set_properties(**{
        'text-align': 'center',
        'font-size': '115%'
    }).apply(
        lambda x:
        ['background: lightyellow' if x.name in hl_rows else '' for i in x],
        axis=1).apply(lambda x: [
            'background: lightyellow' if x.name in hl_cols else '' for i in x
        ],
                      axis=0).hide(axis="index")
    d = d.applymap(color_false_red)
    return d

In [3]:
# creating a table
table = ttg.Truths(['p', 'q'],
                   ['p => q', 'q => p', '(p => q) and (q => p)', 'p = q'],
                   ints=False)

In [4]:
# applying style. Without lists of rows and columns to highlight.
df_style(table)

In [5]:
# highlighting rows 2 and 4
df_style(table, hl_rows=[2, 4])

In [6]:
# highlighting columns named 'p' and 'p = q'
df_style(table, hl_cols=['p', 'p = q'])

In [7]:
# highlighting rowns and columns
df_style(table, hl_rows = [2, 4], hl_cols=['p', 'p = q'])