In [1]:
import truths

In [2]:
print(truths.Truths(['a', 'b', 'x']))

+-----+-----+-----+
|  a  |  b  |  x  |
|-----+-----+-----|
|  1  |  1  |  1  |
|  1  |  1  |  0  |
|  1  |  0  |  1  |
|  1  |  0  |  0  |
|  0  |  1  |  1  |
|  0  |  1  |  0  |
|  0  |  0  |  1  |
|  0  |  0  |  0  |
+-----+-----+-----+

In [3]:
print(truths.Truths(['a', 'b'], ['a => b', 'a implies b']))

+-----+-----+----------+---------------+
|  a  |  b  |  a => b  |  a implies b  |
|-----+-----+----------+---------------|
|  1  |  1  |    1     |       1       |
|  1  |  0  |    0     |       0       |
|  0  |  1  |    1     |       1       |
|  0  |  0  |    1     |       1       |
+-----+-----+----------+---------------+

In [4]:
print(truths.Truths(['p', 'q'], ['(p and ~q) => q']))

+-----+-----+-------------------+
|  p  |  q  |  (p and ~q) => q  |
|-----+-----+-------------------|
|  1  |  1  |         1         |
|  1  |  0  |         1         |
|  0  |  1  |         1         |
|  0  |  0  |         1         |
+-----+-----+-------------------+

In [5]:
print(truths.Truths(['p', 'q'], ['(p and (~q)) => q']))

+-----+-----+---------------------+
|  p  |  q  |  (p and (~q)) => q  |
|-----+-----+---------------------|
|  1  |  1  |          1          |
|  1  |  0  |          0          |
|  0  |  1  |          1          |
|  0  |  0  |          1          |
+-----+-----+---------------------+

In [6]:
print(truths.Truths(['p', 'q'], ['(~q and p) => q']))

KeyError: True

In [7]:
print(truths.Truths(['p', 'q'], ['(p and q) => p', 'p => (p or q)',
                                 '(p and (p => q)) => q',
                                '((p => q) and (~q)) => (~p)']))

+-----+-----+------------------+-----------------+-------------------------+-------------------------------+
|  p  |  q  |  (p and q) => p  |  p => (p or q)  |  (p and (p => q)) => q  |  ((p => q) and (~q)) => (~p)  |
|-----+-----+------------------+-----------------+-------------------------+-------------------------------|
|  1  |  1  |        1         |        1        |            1            |               1               |
|  1  |  0  |        1         |        1        |            1            |               1               |
|  0  |  1  |        1         |        1        |            1            |               1               |
|  0  |  0  |        1         |        1        |            1            |               1               |
+-----+-----+------------------+-----------------+-------------------------+-------------------------------+

In [8]:
print(truths.Truths(['p', 'q'], ['p => q', 'q => p', '(p => q) and (q => p)', 'p = q']))

+-----+-----+----------+----------+-------------------------+---------+
|  p  |  q  |  p => q  |  q => p  |  (p => q) and (q => p)  |  p = q  |
|-----+-----+----------+----------+-------------------------+---------|
|  1  |  1  |    1     |    1     |            1            |    1    |
|  1  |  0  |    0     |    1     |            0            |    0    |
|  0  |  1  |    1     |    0     |            0            |    0    |
|  0  |  0  |    1     |    1     |            1            |    1    |
+-----+-----+----------+----------+-------------------------+---------+

In [9]:
d = truths.Truths(['p', 'q'], ['p => q', 'q => p', '(p => q) and (q => p)', 'p = q'])

In [10]:
d.asPandas()

   p  q p => q q => p (p => q) and (q => p) p = q
1  1  1      1      1                     1     1
2  1  0      0      1                     0     0
3  0  1      1      0                     0     0
4  0  0      1      1                     1     1

In [11]:
d.asPandas().style.hide_index()

In [12]:
t = truths.Truths(['p', 'q'], ['p => q', 'q => p', '(p => q) and (q => p)', 'p = q'])

In [13]:
print(t.asPrettyTable())

+---+---+--------+--------+-----------------------+-------+
| p | q | p => q | q => p | (p => q) and (q => p) | p = q |
+---+---+--------+--------+-----------------------+-------+
| 1 | 1 |   1    |   1    |           1           |   1   |
| 1 | 0 |   0    |   1    |           0           |   0   |
| 0 | 1 |   1    |   0    |           0           |   0   |
| 0 | 0 |   1    |   1    |           1           |   1   |
+---+---+--------+--------+-----------------------+-------+

In [14]:
print(t.asTabulate())

+----+-----+-----+----------+----------+-------------------------+---------+
|    |  p  |  q  |  p => q  |  q => p  |  (p => q) and (q => p)  |  p = q  |
|----+-----+-----+----------+----------+-------------------------+---------|
| 1  |  1  |  1  |    1     |    1     |            1            |    1    |
| 2  |  1  |  0  |    0     |    1     |            0            |    0    |
| 3  |  0  |  1  |    1     |    0     |            0            |    0    |
| 4  |  0  |  0  |    1     |    1     |            1            |    1    |
+----+-----+-----+----------+----------+-------------------------+---------+

In [5]:
print(t.asTabulate(index=False, table_format='latex'))

\begin{tabular}{cccccc}
\hline
  p  &  q  &  p =\ensuremath{>} q  &  q =\ensuremath{>} p  &  (p =\ensuremath{>} q) and (q =\ensuremath{>} p)  &  p = q  \\
\hline
  1  &  1  &    1     &    1     &            1            &    1    \\
  1  &  0  &    0     &    1     &            0            &    0    \\
  0  &  1  &    1     &    0     &            0            &    0    \\
  0  &  0  &    1     &    1     &            1            &    1    \\
\hline
\end{tabular}

In [6]:
print(t.asTabulate(index=True, table_format='latex_raw'))

\begin{tabular}{ccccccc}
\hline
    &  p  &  q  &  p => q  &  q => p  &  (p => q) and (q => p)  &  p = q  \\
\hline
 1  &  1  &  1  &    1     &    1     &            1            &    1    \\
 2  &  1  &  0  &    0     &    1     &            0            &    0    \\
 3  &  0  &  1  &    1     &    0     &            0            &    0    \\
 4  &  0  &  0  &    1     &    1     &            1            &    1    \\
\hline
\end{tabular}

In [7]:
print(t.asTabulate(index=False, table_format='latex_booktabs'))

\begin{tabular}{cccccc}
\toprule
  p  &  q  &  p =\ensuremath{>} q  &  q =\ensuremath{>} p  &  (p =\ensuremath{>} q) and (q =\ensuremath{>} p)  &  p = q  \\
\midrule
  1  &  1  &    1     &    1     &            1            &    1    \\
  1  &  0  &    0     &    1     &            0            &    0    \\
  0  &  1  &    1     &    0     &            0            &    0    \\
  0  &  0  &    1     &    1     &            1            &    1    \\
\bottomrule
\end{tabular}

In [8]:
t = truths.Truths(['p', 'q'], ['p => q', 'q => p', '(p => q) and (q => p)', 'p = q'], ints=False)

In [9]:
print(t.asTabulate())

+----+-------+-------+----------+----------+-------------------------+---------+
|    |   p   |   q   |  p => q  |  q => p  |  (p => q) and (q => p)  |  p = q  |
|----+-------+-------+----------+----------+-------------------------+---------|
| 1  | True  | True  |   True   |   True   |          True           |  True   |
| 2  | True  | False |  False   |   True   |          False          |  False  |
| 3  | False | True  |   True   |  False   |          False          |  False  |
| 4  | False | False |   True   |   True   |          True           |  True   |
+----+-------+-------+----------+----------+-------------------------+---------+

In [10]:
d = truths.Truths(['p', 'q'], ['p => q', 'q => p', '(p => q) and (q => p)', 'p = q'])

In [11]:
d.asPandas()

   p  q p => q q => p (p => q) and (q => p) p = q
1  1  1      1      1                     1     1
2  1  0      0      1                     0     0
3  0  1      1      0                     0     0
4  0  0      1      1                     1     1

In [12]:
d.asPandas().style.set_properties(**{'text-align': 'center'})

In [13]:
d.asPandas().style.set_properties(**{'text-align': 'center'}).hide_index()

In [14]:
print(truths.Truths(['a', 'b', 'x']))

+---+---+---+
| a | b | x |
+---+---+---+
| 1 | 1 | 1 |
| 1 | 1 | 0 |
| 1 | 0 | 1 |
| 1 | 0 | 0 |
| 0 | 1 | 1 |
| 0 | 1 | 0 |
| 0 | 0 | 1 |
| 0 | 0 | 0 |
+---+---+---+

In [17]:
import tabulate
dir(tabulate)

['DataRow',
 'Iterable',
 'LATEX_ESCAPE_RULES',
 'Line',
 'MIN_PADDING',
 'PRESERVE_WHITESPACE',
 'TableFormat',
 'WIDE_CHARS_MODE',
 '_DEFAULT_FLOATFMT',
 '_DEFAULT_MISSINGVAL',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '__version__',
 '_afterpoint',
 '_align_column',
 '_align_column_choose_padfn',
 '_align_header',
 '_append_basic_row',
 '_append_line',
 '_append_multiline_row',
 '_binary_type',
 '_bool',
 '_bool_type',
 '_build_line',
 '_build_row',
 '_build_simple_row',
 '_choose_width_fn',
 '_column_type',
 '_expand_numparse',
 '_float_type',
 '_format',
 '_format_table',
 '_html_begin_table_without_header',
 '_html_row_with_attrs',
 '_int_type',
 '_invisible_codes',
 '_invisible_codes_bytes',
 '_is_file',
 '_is_multiline',
 '_isbool',
 '_isconvertible',
 '_isint',
 '_isnumber',
 '_latex_line_begin_tabular',
 '_latex_row',
 '_long_type',
 '_main',
 '_mediawiki_row_with_attrs',
 '_moin_row_with_attrs',
 '_more_generic',
 '_multiline_codes',
 '_multiline_codes_bytes',
 '_multiline_width',
 '_none_type',
 '_normalize_tabular_data',
 '_pad_row',
 '_padboth',
 '_padleft',
 '_padnone',
 '_padright',
 '_pipe_line_with_colons',
 '_pipe_segment_with_colons',
 '_pprint_file',
 '_prepend_row_index',
 '_rst_escape_first_column',
 '_strip_invisible',
 '_table_formats',
 '_text_type',
 '_textile_row_with_attrs',
 '_type',
 '_visible_width',
 'basestring',
 'io',
 'izip_longest',
 'math',
 'multiline_formats',
 'namedtuple',
 'partial',
 'print_function',
 'python_version_tuple',
 're',
 'reduce',
 'simple_separated_format',
 'tabulate',
 'tabulate_formats',
 'unicode_literals',
 'wcwidth']